USE [master]
GO
/****** Object:  Database [tinyHouse]    Script Date: 20.02.2026 17:24:19 ******/
CREATE DATABASE [tinyHouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tinyHouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ZEREN\MSSQL\DATA\tinyHouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tinyHouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ZEREN\MSSQL\DATA\tinyHouse_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tinyHouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tinyHouse]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AktifRezervasyonSayisi]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AktifRezervasyonSayisi]()
RETURNS INT
AS
BEGIN
    DECLARE @Sayac INT;
    SELECT @Sayac = COUNT(*) FROM Rezervasyonlar WHERE Durum = 'Beklemede' OR Durum = 'Onaylandi';
    RETURN @Sayac;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ToplamGelir]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ToplamGelir] (
    @BaslangicTarihi DATETIME,
    @BitisTarihi DATETIME
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Toplam DECIMAL(10,2)

    SELECT @Toplam = ISNULL(SUM(Tutar), 0)
    FROM Odemeler
    WHERE OdemeTarihi BETWEEN @BaslangicTarihi AND @BitisTarihi

    RETURN @Toplam
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ToplamRezervasyonSayisi]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ToplamRezervasyonSayisi]()
RETURNS INT
AS
BEGIN
    DECLARE @Toplam INT;

    SELECT @Toplam = COUNT(*) FROM Rezervasyonlar;

    RETURN @Toplam;
END
GO
/****** Object:  Table [dbo].[Ilanlar]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilanlar](
	[IlanID] [int] IDENTITY(1,1) NOT NULL,
	[EvSahibiID] [int] NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Konum] [nvarchar](150) NULL,
	[Fiyat] [decimal](10, 2) NULL,
	[Durum] [nvarchar](20) NULL,
	[BaslangicTarihi] [date] NULL,
	[BitisTarihi] [date] NULL,
	[EklenmeTarihi] [datetime] NULL,
	[kapasite] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IlanResimleri]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IlanResimleri](
	[ResimID] [int] IDENTITY(1,1) NOT NULL,
	[IlanID] [int] NOT NULL,
	[ResimYolu] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Aktif] [bit] NULL,
	[KayitTarihi] [datetime] NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[RezervasyonID] [int] NULL,
	[Tutar] [decimal](10, 2) NOT NULL,
	[OdemeTarihi] [datetime] NULL,
	[OdemeYontemi] [nvarchar](50) NULL,
	[IslemKodu] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezervasyonlar]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervasyonlar](
	[RezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[IlanID] [int] NULL,
	[KiraciID] [int] NULL,
	[BaslangicTarihi] [date] NOT NULL,
	[BitisTarihi] [date] NOT NULL,
	[OdemeDurumu] [nvarchar](20) NULL,
	[Durum] [nvarchar](20) NULL,
	[RezervasyonTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[YorumID] [int] IDENTITY(1,1) NOT NULL,
	[IlanID] [int] NULL,
	[KiraciID] [int] NULL,
	[Puan] [int] NULL,
	[Yorum] [nvarchar](max) NULL,
	[YorumTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ilanlar] ON 

INSERT [dbo].[Ilanlar] ([IlanID], [EvSahibiID], [Baslik], [Aciklama], [Konum], [Fiyat], [Durum], [BaslangicTarihi], [BitisTarihi], [EklenmeTarihi], [kapasite]) VALUES (1, 1, N'Denize Sıfır!', N'Denize sıfır, 3+1, geniş ve ferah müstakil bir ev.', N'İzmir', CAST(25000.00 AS Decimal(10, 2)), N'Aktif', CAST(N'2025-03-02' AS Date), CAST(N'2025-08-18' AS Date), CAST(N'2025-02-23T14:15:00.000' AS DateTime), NULL)
INSERT [dbo].[Ilanlar] ([IlanID], [EvSahibiID], [Baslik], [Aciklama], [Konum], [Fiyat], [Durum], [BaslangicTarihi], [BitisTarihi], [EklenmeTarihi], [kapasite]) VALUES (4, 2, N'Merkeze Yürüyüş Mesafesinde!', N'Manisa''nın göbeğinde, 2+1, merkezi sistem apartman dairesi.', N'Manisa', CAST(125000.00 AS Decimal(10, 2)), N'Aktif', CAST(N'2025-01-09' AS Date), CAST(N'2025-12-15' AS Date), CAST(N'2025-01-02T12:14:00.000' AS DateTime), NULL)
INSERT [dbo].[Ilanlar] ([IlanID], [EvSahibiID], [Baslik], [Aciklama], [Konum], [Fiyat], [Durum], [BaslangicTarihi], [BitisTarihi], [EklenmeTarihi], [kapasite]) VALUES (5, 3, N'Sessizlik Abidesi!', N'Aksaray''ın en sessiz bölgesinde, 4+1, dubleks ve müstakil bir ev. ', N'Aksaray', CAST(20000.00 AS Decimal(10, 2)), N'Pasif', CAST(N'2025-04-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(N'2025-03-27T17:25:00.000' AS DateTime), N'2+1')
SET IDENTITY_INSERT [dbo].[Ilanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[IlanResimleri] ON 

INSERT [dbo].[IlanResimleri] ([ResimID], [IlanID], [ResimYolu]) VALUES (2, 1, N'C:\Users\USer\Desktop\İlan Resimleri\izmir_denizesifir_3+1.jpg')
INSERT [dbo].[IlanResimleri] ([ResimID], [IlanID], [ResimYolu]) VALUES (4, 4, N'C:\Users\USer\Desktop\İlan Resimleri\manisa_2+1.jpg')
INSERT [dbo].[IlanResimleri] ([ResimID], [IlanID], [ResimYolu]) VALUES (11, 5, N'C:\Users\USer\source\repos\Tiny House\Tiny House\bin\Debug\Resimler\a7dc0d12-e5a1-4dbe-ba8a-0cf7e226bafe.png')
SET IDENTITY_INSERT [dbo].[IlanResimleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Eposta], [SifreHash], [Rol], [Aktif], [KayitTarihi], [KullaniciAdi]) VALUES (1, N'Zeren', N'Karakuş', N'zerenk54@gmail.com', N'e8914f57782de5b037b934dcf7a95e14a48e2141987478beb3af1de2fb9d7607', N'Kiraci', 1, CAST(N'2025-05-23T10:30:00.000' AS DateTime), NULL)
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Eposta], [SifreHash], [Rol], [Aktif], [KayitTarihi], [KullaniciAdi]) VALUES (2, N'Fetih', N'Yargıcı', N'fetihyrgc@gmail.com', N'c66b146ec0120194f079e74a695c5d25', N'EvSahibi', 0, CAST(N'2025-03-11T14:30:00.000' AS DateTime), NULL)
INSERT [dbo].[Kullanicilar] ([KullaniciID], [Ad], [Soyad], [Eposta], [SifreHash], [Rol], [Aktif], [KayitTarihi], [KullaniciAdi]) VALUES (3, N'Sena', N'Şener', N'sena123@gmail.com', N'8e567319501025e23d033b5d4cf99b0d', N'Kiraci', 0, CAST(N'2025-05-23T23:00:17.770' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([OdemeID], [RezervasyonID], [Tutar], [OdemeTarihi], [OdemeYontemi], [IslemKodu]) VALUES (1, 3, CAST(19000.00 AS Decimal(10, 2)), CAST(N'2025-06-05T20:15:07.200' AS DateTime), N'Nakit', N'Beklemede')
INSERT [dbo].[Odemeler] ([OdemeID], [RezervasyonID], [Tutar], [OdemeTarihi], [OdemeYontemi], [IslemKodu]) VALUES (2, 8, CAST(12500.00 AS Decimal(10, 2)), NULL, NULL, N'Beklemede')
INSERT [dbo].[Odemeler] ([OdemeID], [RezervasyonID], [Tutar], [OdemeTarihi], [OdemeYontemi], [IslemKodu]) VALUES (3, 8, CAST(12500.00 AS Decimal(10, 2)), CAST(N'2025-06-09T18:10:31.483' AS DateTime), NULL, N'Beklemede')
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] ON 

INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [IlanID], [KiraciID], [BaslangicTarihi], [BitisTarihi], [OdemeDurumu], [Durum], [RezervasyonTarihi]) VALUES (3, 5, 10, CAST(N'2025-05-16' AS Date), CAST(N'2025-10-15' AS Date), N'Odendi', N'Reddedildi', CAST(N'2025-06-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [IlanID], [KiraciID], [BaslangicTarihi], [BitisTarihi], [OdemeDurumu], [Durum], [RezervasyonTarihi]) VALUES (6, 16, 8, CAST(N'2025-04-15' AS Date), CAST(N'2025-12-23' AS Date), N'Odendi', N'Onaylandi', CAST(N'2025-06-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Rezervasyonlar] ([RezervasyonID], [IlanID], [KiraciID], [BaslangicTarihi], [BitisTarihi], [OdemeDurumu], [Durum], [RezervasyonTarihi]) VALUES (8, 6, 11, CAST(N'2025-06-13' AS Date), CAST(N'2025-06-14' AS Date), N'Odendi', N'Beklemede', CAST(N'2025-06-09T18:08:25.050' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rezervasyonlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([YorumID], [IlanID], [KiraciID], [Puan], [Yorum], [YorumTarihi]) VALUES (1, 5, 8, 5, N'Harika bir ev!', CAST(N'2025-06-05T19:59:11.370' AS DateTime))
INSERT [dbo].[Yorumlar] ([YorumID], [IlanID], [KiraciID], [Puan], [Yorum], [YorumTarihi]) VALUES (2, 19, 11, 5, N'Çok güzel bir ev.', CAST(N'2025-06-15T21:26:39.133' AS DateTime))
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kullanic__03ABA391EF7CDA9E]    Script Date: 20.02.2026 17:24:19 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ilanlar] ADD  DEFAULT ('Aktif') FOR [Durum]
GO
ALTER TABLE [dbo].[Ilanlar] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT ('Beklemede') FOR [IslemKodu]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  DEFAULT ('Bekleniyor') FOR [OdemeDurumu]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  DEFAULT ('Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Rezervasyonlar] ADD  DEFAULT (getdate()) FOR [RezervasyonTarihi]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT (getdate()) FOR [YorumTarihi]
GO
ALTER TABLE [dbo].[Ilanlar]  WITH CHECK ADD FOREIGN KEY([EvSahibiID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[IlanResimleri]  WITH CHECK ADD  CONSTRAINT [FK_IlanResimleri_Ilanlar] FOREIGN KEY([IlanID])
REFERENCES [dbo].[Ilanlar] ([IlanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IlanResimleri] CHECK CONSTRAINT [FK_IlanResimleri_Ilanlar]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([RezervasyonID])
REFERENCES [dbo].[Rezervasyonlar] ([RezervasyonID])
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD FOREIGN KEY([IlanID])
REFERENCES [dbo].[Ilanlar] ([IlanID])
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD FOREIGN KEY([KiraciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([IlanID])
REFERENCES [dbo].[Ilanlar] ([IlanID])
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD FOREIGN KEY([KiraciID])
REFERENCES [dbo].[Kullanicilar] ([KullaniciID])
GO
ALTER TABLE [dbo].[Ilanlar]  WITH CHECK ADD  CONSTRAINT [chk_GecerliKapasite] CHECK  (([kapasite]='4+1' OR [kapasite]='3+1' OR [kapasite]='2+1' OR [kapasite]='1+1'))
GO
ALTER TABLE [dbo].[Ilanlar] CHECK CONSTRAINT [chk_GecerliKapasite]
GO
ALTER TABLE [dbo].[Ilanlar]  WITH CHECK ADD CHECK  (([Durum]='Silinmis' OR [Durum]='Pasif' OR [Durum]='Aktif'))
GO
ALTER TABLE [dbo].[Ilanlar]  WITH CHECK ADD CHECK  (([Fiyat]>(0)))
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD CHECK  (([Rol]='Kiraci' OR [Rol]='EvSahibi' OR [Rol]='Admin'))
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD CHECK  (([Tutar]>=(0)))
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [CK_Odemeler_IslemKodu] CHECK  (([IslemKodu]='Iptal' OR [IslemKodu]='Beklemede' OR [IslemKodu]='Odendi'))
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [CK_Odemeler_IslemKodu]
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD CHECK  (([Durum]='Iptal' OR [Durum]='Reddedildi' OR [Durum]='Beklemede' OR [Durum]='Onaylandi'))
GO
ALTER TABLE [dbo].[Rezervasyonlar]  WITH CHECK ADD CHECK  (([OdemeDurumu]='Iptal' OR [OdemeDurumu]='Odendi' OR [OdemeDurumu]='Bekleniyor'))
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD CHECK  (([Puan]>=(1) AND [Puan]<=(5)))
GO
/****** Object:  StoredProcedure [dbo].[sp_EvSahibiRezervasyonlariGetir]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EvSahibiRezervasyonlariGetir]
    @EvSahibiID INT
AS
BEGIN
    
    SELECT 
        R.RezervasyonID,
        K.Ad + ' ' + K.Soyad AS Kiraci,
        I.Baslik AS Ilan,
        R.BaslangicTarihi,
        R.BitisTarihi,
        R.OdemeDurumu,
        R.Durum
    FROM Rezervasyonlar R
    JOIN Ilanlar I ON R.IlanID = I.IlanID
    JOIN Kullanicilar K ON R.KiraciID = K.KullaniciID
    WHERE I.EvSahibiID = @EvSahibiID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IlanlariGetirByEvSahibiID]    Script Date: 20.02.2026 17:24:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IlanlariGetirByEvSahibiID]
    @EvSahibiID INT
AS
BEGIN
    SELECT
        i.IlanID,
        i.Baslik,
        i.Konum,
        i.kapasite,
        i.Aciklama,
        i.Fiyat,
        i.BaslangicTarihi,
        i.BitisTarihi,
        i.Durum,
        (SELECT TOP 1 ResimYolu FROM IlanResimleri r WHERE r.IlanID = i.IlanID) AS ResimYolu
    FROM Ilanlar i
    WHERE i.EvSahibiID = @EvSahibiID AND i.Durum <> 'Silinmis';
END;
GO
USE [master]
GO
